.block{
background: rebeccapurple;
border: 1px solid red;
}


.board{
  height: 80vh;
  width: 80%;
  margin: auto;
}
.board .row{
  display: flex;
  flex-direction: row;
  height: 10%;
}

.cell{
  width: 14%;
  height: 100%;
  border: 1px solid gray;
}